* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.gameContainer {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.left-side {
    display: flex;
    flex: 5;
    justify-content: center;
}

.right-side {
    /* width: 20%; */
    background-color: black;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.map {
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    height: 10%;
}

.block {
    height: 100%;
    width: 10%;
    background-color: rgb(134, 240, 240);
}

.block:hover {
    border: 1px solid white;
<<<<<<< HEAD
    /* cursor: pointer; */
=======
    /* cursor: pointer;	 */
>>>>>>> f76022348dc87208f2058a7c6cfe55c37aadfbb1
}

.block2 {
    height: 100%;
    width: 100px;
    background-color: brown;
}

.tool {
    width: 100px;
    height: 100px;
    border: 2px solid grey;
    background-color: white;
    border-radius: 12px;
    margin: 2px;
}

.tool:hover {
    cursor: pointer;
}

.matirial {
    border: 1px solid white;
    width: 70px;
    height: 70px;
    margin: 5px;
}