* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.gameContainer {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.left-side {
    display: flex;
    flex: 5;
    justify-content: center;
}

.right-side {
    /* width: 20%; */
    background-color: pink;
    flex: 1;
}

.map {
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    height: 10%;
  
}

.block {
    height: 100%;
    width: 10%;
    background-color: rgb(134, 240, 240);
    
}

.block:hover {
    border: 1px solid white;
    cursor: pointer;
    
}

.block2 {
    height: 100%;
    width: 100px;
    background-color: brown;
}

